@charset "utf-8";
/* reset */
html, body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: "Microsoft YaHei" verdana;
	background-color: #fff;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}

top-right .ol, .top-right ul {
	list-style: none;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom:1;
}
.textr {
	text-align: right;
}
.textl {
	text-align: left;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/* public */
.top-box {
	background: url(images/index/topbg.jpg) repeat-y;
	width: 100%;
	height: 80px;
	overflow: hidden;
}
.top-left {
	width: 48%;
	height: 100%;
	margin-left: 10px;
	margin-top:20px;
}
.top-right {
	width: 48%;
	height: 100%;
	margin-right: 10px;
}
.top-left .logo {
	display: inline-block;
}
.top-right li{
 vertical-align:middle;
	color: #000;
}
.hello-text{height: 36px; line-height:36px;}
.hello-text span {
	display:inline-block;
	 vertical-align:middle;
}
.hello-text .who{color: #F00;}
.hello-text a{
	display:inline-block;
	 vertical-align:middle;
	text-indent:99999px;
	width:30px;
	height:32px;
	background: url(images/index/out.png) no-repeat;
	overflow:hidden;
	white-space:nowrap; 
	margin-left:10px;
}
.qtime{ padding-top:10px;}